<nav class="main-menu">
  <header><h1><%= lang :site_menu %></h1></header>
  <div>
    <%= link_to :view_site, @cur_site.full_url, :target => "_blank" %>
    <%= link_to :preview_site, cms_preview_path, :target => "_blank" %>
  </div>
</nav>

<nav class="main-menu">
  <header><h1><%= lang :root_menu %></h1></header>
  <div>
    <%= link_to :contents, cms_contents_path %>
    <%= link_to :nodes, cms_nodes_path %>
    <%= link_to :pages, cms_pages_path %>
    <%= link_to :layouts, cms_layouts_path %>
    <%= link_to :parts, cms_parts_path %>
  </div>
</nav>
