<%= render partial: "node/main/modules" %>

<nav class="sub-menu">
  <header><h1>Article</h1></header>
  <div>
    <%= link_to :pages, article_pages_path %>
    <%= link_to "#Category", "#" %>
    <%= link_to "#Import", "#" %>
    <%= link_to "#Publish", "#" %>
  </div>
</nav>
