<% @items.each do |item| %>
  <% if cur_item.loop_html.present? %>
  <%== cur_item.render_loop_html(item) %>
  <% else %>
  <article class="item-<%= item.basename.dasherize %>">
    <header>
      <time datetime="<%= item.date.to_date %>"><%= I18n.l item.date.to_date, format: :long %></time>
      <h2><%= link_to item.name, item.url %></h2>
      <% if cur_item.in_new_days?(item.date) %><span class="new" title="NEW"></span><% end %>
    </header>
  </article>
  <% end %>
<% end %>
