<%

@cur_item = @cur_page || @cur_node
title = @cur_site.name
title = "#{@cur_item.name} - #{@cur_site.name}" if @cur_item.filename != "index.html"

%><!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0" />
<title><%= title %></title>
<% if @cur_page %>
<meta name="keywords" content="<%= @cur_page.keywords %>" />
<meta name="description" content="<%= @cur_page.description.to_s.gsub(/\s+/, " ") %>" />
<% end %>
<%= javascript_include_tag "cms/public" %>
<%= csrf_meta_tags %>
</head>
<body>

<header id="head">
  <h1><%= link_to @cur_site.name, @cur_site.url, id: "ss-site-name" %></h1>
  <h2><%= link_to @cur_item.name, @cur_item.url, id: "ss-page-name" %></h2>
  <% if @cur_layout %><nav><%= link_to "Layout", @cur_layout.url %></nav><% end %>
</header>

<article id="page" data-layout="<%= @cur_layout.json_url if @cur_layout %>">
<script> $(function(){ SS.load(); }) </script>
<%= yield %>
</article>

</body>
</html>
