<%= form_for :item, url: { action: :create }, html: { id: "item-form", multipart: true } do |f| %>
<%= error_messages_for :item %>

<div class="addon-view" id="addon-basic">
  <% if @model && (addons = @model.addons).size > 0 %>
  <header><h2><%= t :basic_info %></h2></header>
  <% end %>
  <%= render file: '_form', locals: { f: f } %>
</div>

<%= render file: "_addons_form", locals: { f: f } %>

<footer class="send">
  <%= f.submit '保存', class: :save %>
  <%= f.button "キャンセル", onclick: "location.href='#{url_for(action: :index)}'; return false;" %>
</footer>
<% end %>
