<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0" />
<title>srsg</title>
<%= stylesheet_link_tag "ss/ss", media: "all", "data-turbolinks-track" => true %>
<% controller.stylesheets.each do |path| %>
<%= stylesheet_link_tag path, media: "all", "data-turbolinks-track" => true %>
<% end %>
<%= javascript_include_tag "ss/ss", "data-turbolinks-track" => true %>
<%= javascript_include_tag "tinymce/tinymce.min.js" %>
<% controller.javascripts.each do |path| %>
<%= javascript_include_tag path %>
<% end %>
<%= csrf_meta_tags %>
</head>
<body>

<div id="page">

<header id="head">
  <div class="wrap">
    <h1><%= link_to "< SS >", sns_mypage_path %></h1>
    <% if @cur_user %>
    <nav>
      <%= link_to "　", "#" %>
      <%= link_to "　", "#" %>
    </nav>
    <nav>
      <%= link_to @cur_user.name, "#" %>
      <%= link_to "Logout", sns_logout_path %>
    </nav>
    <% end %>
  </div>
<!-- /#head --></header>

<% if (crumbs = controller.class.crumbs).size > 0 %>
<nav id="crumbs">
  <%== crumbs.map {|c| instance_exec(&c)}.map {|n, u| link_to n.to_s.humanize, u }.join("/") %>
</nav>
<% end %>

<% if notice %>
<aside id="notice">
  <div class="wrap"><%= notice %></div>
</aside>
<script> setTimeout(function() { $('#notice').fadeOut(); }, 1500); </script>
<% end %>

<div id="wrap">
  <div class="wrap">
    
    <% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_navi.html.erb") %>
    <div id="navi"><%= render partial: "navi" %><!-- /#navi --></div>
    <% elsif controller.navi_view_file %>
    <div id="navi"><%= render partial: controller.navi_view_file %><!-- /#navi --></div>
    <% end %>
    
    <% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_menu.html.erb") %>
    <div id="menu"><%= render partial: "menu" %><!-- /#menu --></div>
    <% elsif controller.menu_view_file %>
    <div id="menu"><%= render partial: controller.menu_view_file %><!-- /#menu --></div>
    <% end %>
    
    <article id="main">
      <div class="wrap">
      <%= yield %>
      </div>
    <!-- /#main --></article>
    
  <!-- /.wrap --></div>
<!-- /#wrap --></div>

<footer id="foot">
  <div class="wrap">
    SS Project
  </div>
<!-- /#foot --></footer>

<!-- /#page --></div>

</body>
</html>
