<nav class="main-menu">
  <header><h1><%= t :system %></h1></header>
  <div>
    <%= link_to :sites, sys_sites_path %>
    <%= link_to :users, sys_users_path %>
    <%= link_to :groups, sys_groups_path %>
    <%= link_to :http_test, sys_test_path %>
    <%= link_to :db, sys_db_path %>
  </div>
</nav>
