<nav class="act-menu">
  <header><h1>Action</h1></header>
  <div>
    <% if params[:action] =~ /index/ %>
      <%= link_to :new_layout, new_node_layout_path, class: "icon-layout" %>
      <%= link_to :new_part, new_node_part_path, class: "icon-part" %>
    <% elsif params[:action] =~ /new|create/ %>
      <%= link_to :back_to_index, action: :index %>
    <% elsif params[:action] =~ /edit|update|delete/ %>
      <%= link_to :back_to_show, action: :show, id: @item %>
      <%= link_to :back_to_index, action: :index %>
    <% else %>
      <%= link_to :edit, action: :edit, id: @item %>
      <%= link_to :delete, action: :delete, id: @item %>
      <%= link_to :back_to_index, action: :index %>
    <% end %>
  </div>
</nav>
