<table class="index">
  <thead>
    <tr>
      <th class="checkbox"><input type="checkbox" /></th>
      <th><%= @model.lang :name %></th>
      <th class="filename"><%= @model.lang :filename %></th>
      <th class="datetime"><%= @model.lang :updated %></th>
    </tr>
  </thead>
  
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td class="checkbox">
        <input type="checkbox" name="ids[]" value="<%= item.id %>" />
        <nav class="row-menu">
          <%= link_to "詳細を見る", action: :show, id: item %>
        </nav>
      </td>
      <td><%= link_to item.name, { action: :show, id: item }, class: "icon-layout" %></td>
      <td class="filename"><%= File.basename item.filename %></td>
      <td class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></td>
    </tr>
    <% end %>
    
    <% @pieces.each do |item| %>
    <tr>
      <td class="checkbox">
        <input type="checkbox" name="ids[]" value="<%= item.id %>" />
        <nav class="row-menu">
          <%= link_to "詳細を見る", node_piece_path(id: item) %>
        </nav>
      </td>
      <td><%= link_to item.name, node_piece_path(id: item), class: "icon-piece" %></td>
      <td class="filename"><%= File.basename item.filename %></td>
      <td class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
