<div class="addon-view">
  <dl class="see">
    <dt><%= @model.lang :filename %></dt>
    <dd><%= @item.filename %></dd>
    
    <% if !@item.directory? %>
      <dt><%= @model.lang :size %></dt>
      <dd><%= @item.size %></dd>
      
      <% if @item.image? %>
      <dt><%= @model.lang :image %></dt>
      <dd><%= image_tag @item.link %></dd>
      <% end %>
      
      <% if @item.text? %>
      <% begin %>
      <dt class="wide"><%= @model.lang :text %></dt>
      <dd class="wide"><code><%=br @item.text %></code></dd>
      <% rescue => e %>表示に失敗しました。(<%= e %>)<% end %>
      <% end %>
    <% end %>
  </dl>
</div>